@model Project.Models.Department
<tr id="@Model.Id">
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Manager.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Capacity)
    </td>
    <td>
        @Ajax.ActionLink("Edit", "Edit", new { id = Model.Id }, new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "ModalBody" }, new { @class = "btn btn-warning", @onclick = "$('#DataModal').modal('show')" }) |
        <input type="button" value="Delete" class="btn btn-danger" onclick="Delete('@Model.Id')" />
    </td>
</tr>