@model IEnumerable<Project.Models.Attendance>

@{
    ViewBag.Title = "Attendance";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/CPanel.cshtml";
}

<h2>Display</h2>

@Ajax.ActionLink("Refresh Records", "Create", new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.InsertBefore, UpdateTargetId = "tbody", OnSuccess = "$('#resp').text('Table Refreshed Successfully!').show().fadeOut(3000)" }) |
@Ajax.ActionLink("Take Attendance", "Attendance", new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tbody", OnSuccess = "$('#resp').text('Attendance Taken Successfully!').show().fadeOut(3000)" })

<span id="resp" class="alert-success text-capitalize text-success" style="float: right;display: none"></span>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeavingTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody">
            @Html.Partial("IndexList", Model)
        </tbody>
    </table>
</div>