@model IEnumerable<Project.Models.Attendance>

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display</h2>

<p>
    @Ajax.ActionLink("Refresh Records", "Create", new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.InsertBefore, UpdateTargetId = "tbody" })
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeavingTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody">
            @Html.Partial("IndexList", Model)
        </tbody>
    </table>
</div>