@model IEnumerable<Project.Models.Course>

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Ajax.ActionLink("New Course", "Create", "Course", new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "ModalBody" }, new { @class = "btn btn-link", @onclick = "$('#DataModal').modal('show')" })

<span id="resp" class="alert-success text-capitalize text-success" style="float: right; display: none"></span>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LectureDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LabDuration)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody id="tbody">
            @foreach (var item in Model)
            {
                @Html.Partial("Row", item)
            }
        </tbody>
    </table>
</div>
@Html.Partial("Modal", new ViewDataDictionary { { "Name", ViewBag.Title } })