@model Project.Models.Permission
@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/CRUD/Edit.cshtml";
}
<div class="form-group">
    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="input-group date">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
    </div>
</div>