@using Project.Models
@model IEnumerable<Course>
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LectureDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabDuration)
        </th>
    </tr>
</thead>
<tbody id="tbody">
    @foreach (Course item in Model)
    {
        <tr id="@item.Id">
            <td>
                @Html.DisplayFor(model => item.Id)
            </td>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.LectureDuration)
            </td>
            <td>
                @Html.DisplayFor(model => item.LabDuration)
            </td>
        </tr>
    }
</tbody>