@model Project.Models.Instructor
<tr id="@Model.Id">
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Status)
    </td>
    <td>
        @Html.DisplayFor(model => model.Department.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.Email)
    </td>
    <td>
        @Html.DisplayFor(model => model.PhoneNumber)
    </td>
    <td>
        <div class="btn-group btn-group-sm">
            @Ajax.ActionLink("Details", "Details", new { Id = Model.Id }, new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "ModalBody" }, new { @class = "btn btn-info", @onclick = "$('#DataModal').modal('show')" })
            @Ajax.ActionLink("Edit", "Edit", new { Id = Model.Id }, new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "ModalBody" }, new { @class = "btn btn-warning", @onclick = "$('#DataModal').modal('show')" })
            <input type="button" value="Delete" class="btn btn-danger" onclick="Delete('@Model.Id')" />
        </div>
    </td>
</tr>